body {
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  padding-top: 100px;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin: 0 auto 0 auto;
  color: #66BFBF
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
}
a:hover{
  color: #eaf6f6
}
.p-1 {
  color: #EAF6F6;
  font-size: 0.75rem;
}

.top-container {
  position: relative;
  padding-top: 100px;
  background-color: #eaf6f6;
}

.middle-container {}

.bottom-container {
  background-color: #66BFBF;
  padding-top: 50px;
  padding-bottom: 50px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
}

.skill-img-1 {
  height: 25%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-img-2 {
  height: 25%;
  width: 25%;
  float: right;
  margin-left: 30px;
}

.profile-img {
  height: 200px;
  width: 200px;
  margin-top: 100px;
  border-radius: 100%;
}

.h2_1 {
  font-weight: normal;
  padding-top: 1rem;
}

.h1_1 {
  padding-bottom: 1rem;
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  line-height: 2;
  text-align: left;
}

/*.skill-text{
  text-align: left;
*/
.horizonatal-rule {
  color: #EAF6F6;
  border-top: 10px dotted;
  width: 10%;
  border-style: dotted none none none;
  margin: 100px auto 100px auto;
}

.contact-me {
  margin-bottom: 50px;
  line-height: 3;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.intro{
  width: 30%;
  margin: auto;
}
.contact-massage{
  width: 40%;
  margin: auto;
}
